body{
	background-color: #a5d6dd;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

#container{
	margin: 120px auto;
	width: 900px;
	background-color: #4B4E67;
	overflow: hidden;
	border-radius: 4px;
}

#container .header{
	background-color: #575C75;
	padding: 15px;
	color: #898ea9;
	position: relative;
}

#container .header .tools{
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -5px;
	font-size: 0;
}

#container .header .circle{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #6c728f;
	margin-right: 5px;
}

#container .header .circle:nth-child(1){
	background-color: #FF7072;
}

#container .header .circle:nth-child(2){
	background-color: #FED276;
}

#container .header .circle:nth-child(3){
	background-color: #89D671;
}

#container .header p{
	text-align: center;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 600;
}

#container .content{
	padding: 20px 25px;
	font-family: 'Inconsolata', Consolas,"Courier New", monospace;
	color: #989dff;
	font-size: 15px;
	line-height: 18px;
}
